footer {
    margin-top: auto;
    background-color: var(--indigo-700);
    padding: .65rem 0;
}
footer p {
    color: var(--white);
    font-size: var(--font-size-very-small);
    text-align: center;
}