@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap);
:root {
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-900: #0f172a;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-500: #6366f1;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --rose-400: #fb7185;
    --rose-500: #f43f5e;
    --black: black;
    --white: white;
    --min-radius: .25rem;
    --radius: .5rem;
    --full-radius: 50%;
    --font: "Nunito Sans", sans-serif;
    --font-size-medium: .95rem;
    --font-size-small: .9rem;
    --font-size-very-small: .85rem;
    --font-size-annotation: .8rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--indigo-50);
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    min-height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: var(--font-size-very-small);
    padding: .75rem 1.25rem;
}
button:hover {
    transition: all 300ms ease-out;
}
section {
    padding: 3rem 4rem;
}
textarea {
    height: 100%;
    resize: none;
}
.mt-1 {
    margin-top: 1.5rem;
}
.card {
    background-color: var(--white);
    border: .1rem solid var(--indigo-100);
    border-radius: var(--radius);
    padding: 1.75rem 2rem;
}
.align-right {
    text-align: right;
}
.page-title {
    background-color: var(--indigo-700);
    color: var(--white);
    font-size: var(--font-size-medium);
    padding: 1rem 4rem;
}
.page-breadcrumbs {
    background-color: var(--white);
    border-bottom: .1rem solid var(--indigo-100);
    color: var(--slate-700);
    font-size: var(--font-size-very-small);
    font-weight: 500;
    padding: .75rem 4rem;
}
.page-breadcrumbs a:hover {
    color: var(--slate-900);
    text-decoration: underline;
}
.success-btn {
    background-color: var(--indigo-700);
    color: var(--white);
}
.success-btn:hover {
    background-color: var(--indigo-500);
}
.cancel-btn {
    background-color: var(--slate-200);
    margin-right: .25rem;
}
.cancel-btn:hover {
    background-color: var(--slate-300);
}