.input-item-annotation {
    font-size: var(--font-size-annotation);
    margin-top: .35rem;
    text-align: right;
}
.create-news-btns {
    margin-top: 1.5rem;
}
.cancel-btn {
    background-color: var(--slate-200);
    margin-right: .25rem;
}
.cancel-btn:hover {
    background-color: var(--slate-300);
}