.section-all-news {
    display: grid;
    grid-row-gap: 2.5rem;
}
.card-news {
    overflow: hidden;
    padding-right: 3rem;
    position: relative;
    z-index: 0;
    &:before {
        background: var(--indigo-700);
        border-radius: 2rem;
        content: "";
        height: 2rem;
        position: absolute;
        right: -1rem;
        top: -1rem;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
        width: 2rem;
        z-index: -1;
    }
    &:hover:before {
        transform: scale(4.5);
    }
}
.card-news:hover {
    border: .1rem solid var(--indigo-500);
    cursor: pointer;
    transition: all 300ms ease-out;
}
.card-news h3 {
    margin-bottom: .75rem;
}
.card-news:hover h3 {
    color: var(--indigo-700);
}
.card-news p:first-of-type {
    color: var(--slate-600);
    display: -webkit-box;
    font-size: var(--font-size-medium);
    margin-bottom: 1rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}
.card-news p:last-of-type {
    color: var(--slate-600);
    font-size: var(--font-size-very-small);
    text-align: right;
}
.card-news-corner {
    align-items: center;
    background-color: var(--indigo-700);
    border-radius: 0 .25rem 0 2rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5rem;
}
.card-news-corner-arrow {
    color: var(--white);
    margin-right: -.25rem;
    margin-top: -.25rem;
}