.news-btns {
    margin: 0 0 2rem;
}
table {
    background-color: var(--white);
    border-collapse: collapse;
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
}
thead {
    background-color: var(--indigo-200);
}
table th {
    border-bottom: .05rem solid var(--slate-300);
    padding: .75rem 1rem;
}
table td {
    border-top: .05rem solid var(--slate-300);
    font-size: var(--font-size-small);
    padding: .55rem 1rem;
    text-align: center;
}
.option-btn {
    background-color: var(--rose-500);
    color: var(--white);
    padding: .45rem .65rem;
}
.option-btn:hover {
    background-color: var(--rose-400);
}
.option-btn svg {
    height: .9rem;
    width: .9rem;
}
.edit-option-btn {
    background-color: var(--blue-500);
}
.edit-option-btn:hover {
    background-color: var(--blue-400);
}