.card-news-info {
    padding: 2.5rem 3.5rem;
}
.card-news-info h3 {
    color: var(--indigo-800);
    font-size: 1.75rem;
    padding-bottom: 2rem;
    text-align: center;
}
.card-news-info > div:first-of-type {
    border-bottom: .1rem solid var(--indigo-100);
    padding-bottom: 2rem;
}
.card-news-info img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}
.card-news-info > div:last-of-type {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem;
}
.card-news-info > div > p {
    font-size: var(--font-size-very-small);
}