<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EggNews</title>
    <link rel="stylesheet" th:href="@{/styles/settings/global.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/header.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/footer.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/form-card.css}" />
    <link rel="stylesheet" th:href="@{/styles/pages/form-news-page.css}" />
</head>
<body>
    <header th:replace="~{fragments/fragment-layout :: header}"></header>
    <div class="page-title">
        <h2 th:text="${subtitle}"></h2>
    </div>
    <div class="page-breadcrumbs">
        <a href="/my-news">Noticias</a> / <span th:text="${sectionTitle}"></span>
    </div>
    <section>
        <form th:action="@{/my-news/form}" th:object="${news}" method="post">
            <input type="hidden" th:field="*{idNews}" />
            <div class="card grid-form-card">
                <div class="form-card">
                    <div>
                        <label for="title">
                            Título
                        </label>
                        <div class="input-item-box">
                            <input th:field="*{title}" type="text" name="title" id="title" class="input-item" />
                        </div>
                    </div>
                    <div>
                        <label for="content">
                            Contenido
                        </label>
                        <div class="input-item-box">
                            <textarea th:field="*{body}" id="content" name="content" rows="10" class="input-item"></textarea>
                        </div>
                        <p class="input-item-annotation">
                            Ingrese como máximo 1000 caracteres
                        </p>
                    </div>
                </div>
                <div class="file-form-card">
                    <label>
                        Imagen
                    </label>
                    <div class="input-item-box input-file">
                        <svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                        </svg>
                        <div class="input-file-text">
                            <label for="file-upload">
                                <span>Sube una imagen</span>
                                <input class="sr-only" id="file-upload" name="file-upload" type="file">
                            </label>
                            <p>o suéltala aquí</p>
                        </div>
                        <p>JPG o PNG hasta 5MB</p>
                    </div>
                </div>
            </div>
            <div class="mt-1 align-right">
                <a href="/my-news">
                    <button type="button" class="cancel-btn">
                        Cancelar
                    </button>
                </a>
                <button type="submit" th:text="${btnName}" class="success-btn">
                    Guardar
                </button>
            </div>
        </form>
    </section>
    <footer th:replace="~{fragments/fragment-layout :: footer}"></footer>

    <script th:src="@{/scripts/dropdown-menu.js}"></script>
</body>
</html>