<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EggNews</title>
    <link rel="stylesheet" th:href="@{/styles/settings/global.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/header.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/footer.css}" />
    <link rel="stylesheet" th:href="@{/styles/pages/home-page.css}" />
</head>
<body>
    <header th:replace="~{layouts/layout-client :: header}"></header>
    <section class="section-all-news">
        <div class="card card-news" th:each="news : ${allNews}">
            <a th:href="@{/{id}(id=${news.idNews})}">
                <h3 th:text="${news.title}"></h3>
                <p th:utext="${news.getFormatBody()}"></p>
                <p th:text="${news.createdAt}"></p>
                <div class="card-news-corner">
                    <div class="card-news-corner-arrow">→</div>
                </div>
            </a>
        </div>
    </section>
    <footer th:replace="~{layouts/layout-client :: footer}"></footer>

    <script th:src="@{/scripts/dropdown-menu.js}"></script>
</body>
</html>