<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EggNews</title>
    <link rel="stylesheet" th:href="@{/styles/settings/global.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/header.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/footer.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/form-card.css}" />
    <link rel="stylesheet" th:href="@{/styles/components/sign-form-card.css}" />
</head>
<body>
    <header th:replace="~{fragments/fragment-layout :: header}"></header>
    <section>
        <form th:action="@{/auth/signin}" method="post">
            <div class="card form-card form-mid-card">
                <h2>BIENVENIDO</h2>
                <div>
                    <label for="email">
                        Correo
                    </label>
                    <div class="input-item-box">
                        <input type="email" name="email" id="email" class="input-item" required />
                    </div>
                </div>
                <div>
                    <label for="password">
                        Contraseña
                    </label>
                    <div class="input-item-box">
                        <input type="password" name="password" id="password" class="input-item" required />
                    </div>
                </div>
                <div>
                    <button type="submit" class="success-btn">
                        Ingresar
                    </button>
                    <p th:if="${isSignInError}" class="error">Correo o contraseña incorrectos</p>
                </div>
                <p>
                    ¿No tienes una cuenta?
                    <a href="/auth/signup">Regístrate</a>
                </p>
            </div>
        </form>
    </section>
    <footer th:replace="~{fragments/fragment-layout :: footer}"></footer>

    <script th:replace="~{fragments/fragment-layout :: menu-script}"></script>
</body>
</html>